*~
*.o
*.swp
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/jsmisc_config.h
/jsmisc_config.h.in
/libtool
/ltmain.sh
/m4/*
/missing
/src/.deps/
/src/.libs/
/src/jsmisc.lo
/src/libjsmisc.la
/stamp-h1
